<div>
    <ul id="menu">
        <li>
            <a [routerLink]="['/']">Home</a> | 
        </li>
        <li>
            <a [routerLink]="['/cine']">Cine</a> | 
        </li>
        <li>
            <a [routerLink]="['/musica']">Música</a> | 
        </li>
        <li>
            <a [routerLink]="['/numerodoble']">Número Doble SIN params</a> | 
        </li>
        <li>
            <a [routerLink]="['/numerodoble/77']">Número Doble CON params</a> | 
        </li>
        <li>
            <a [routerLink]="['/noexisto']">Sin ruta</a> | 
        </li>
    </ul>
</div>